* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  text-align: left;
  border: 0;
  color: #23292e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

button {
  background: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
}

input,
button,
textarea {
  appearance: none;
}

.container {
  width: 1243px;
  padding: 0 15px;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 100%;
    padding: 0px 24px;
  }
}
